
.sidebar-filter {
  @media (min-width: 992px) {
    border-right: 1px solid $font-color-light;
    background-color: rgba($font-color-light, 0.4);
  }

  @media (max-width: 991px) {
    border-top: 1px solid $font-color-light;
  }
}
