.page-header {
  &__navbar {
    background-color: rgba($font-color-light, 0.8);

    .dropdown.show {
      border-bottom: 1px solid $font-color-light;
      background-color: $font-color-dark;

      .dropdown-toggle {
        color: $font-color-light;
      }
    }

    .dropdown-menu {
      margin-top: 1px;

      border: none;
      border-radius: 0;
      background-color: $font-color-dark;

      a {
        color: $font-color-light;

        &:hover {
          color: $font-color-dark;
        }
      }
    }
  }

  &__carousel {
    margin-right: 0;
    margin-left: 0;

    border-bottom: 1px solid $font-color-light;
    background-color: rgba(#000000, 0.3);
  }

  &__navbar-search {
    height: 50px;

    border: 1px solid $font-color-dark;

    flex-wrap: nowrap;

    @media (max-width: 991px) {
      display: inline-flex;

      width: calc(100% - 100px);
    }

    .form-control {
      border: none;
      border-radius: 0;
      background-color: transparent;
      box-shadow: none;

      font-size: 1.2rem;

      @media (min-width: 992px) {
        width: 10rem !important;
      }
      @media (max-width: 991px) {
        flex-grow: 2;
      }
    }

    button {
      margin: 5px;
      padding: 0;

      color: $font-color-light;
      border-color: $font-color-dark;
      background-color: $font-color-dark;

      &:hover {
        color: $font-color-dark;
        background-color: $font-color-light;
      }
    }

    i {
      display: block;

      padding: 10px;
    }
  }
}

.page-header__cart-btn {
  position: relative;

  width: 50px;
  height: 50px;
  margin-left: 30px;

  color: $font-color-dark;
  border: none;
  border-radius: 0;
  background-color: $font-color-light;

  @media (max-width: 991px) {
    margin-top: -12px !important;
  }

  &:hover {
    span {
      color: $font-color-dark;
      background-color: $font-color-light;
    }
  }

  span {
    position: absolute;
    top: -12px;
    left: -12px;

    width: 24px;
    height: 24px;

    transition: background-color 0.5s;

    color: $font-color-light;
    border-radius: 12px;
    background-color: $font-color-dark;
    box-shadow: 0 0 5px rgba(#000000, 0.75);
  }
}

.fa-shopping-cart {
  font-size: 1.5rem;
}
